@import "tailwindcss";
@config "./tailwind.config.js";

@layer base {
  body {
    @apply bg-background-dark text-white font-body antialiased;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}